#grid-container {
    display: grid;
/*TODO: column pixel size should be a variable that changes based on grid size and should be shared with individual square pixel size */ 
    grid-template-columns: repeat(16, 10px);
}


.grid-square {
/*TODO: column pixel size should be a variable that changes based on grid size and should be shared with individual square pixel size */ 
    height: 10px;
    width: 10px;
    background-color: red;
    
}